/* common shared style */
body {
    font-family: 'Merriweather', serif;
}

/*header style*/

.image-con {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;

}

.image-con img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.image-text {
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
}

.image-text h4 {
    font-weight: 400px;
    font-size: 32px;
    margin: 0px;
}

.image-text h1 {
    font-weight: 900;
    font-size: 72px;
    margin: 5px 0px;
    line-height: 1.2;
}

/*main style*/

.sec-1 {
    margin: 150px;

}

.sec-1 h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}

.sec-1 h5 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.sec-1 h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.sec-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sec-2 {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    margin: 0px 280px;
    align-items: center;

}

.sec-2 .sec-content {
    padding: 115px 555px 300px 125px;
    color: #FFF;

}

.sec-2 .sec-content .sec-greeting {
    font-size: 30px;
}

.sec-2 .sec-img {
    width: 320px;
    height: 400px;
    padding: 0px 85px 230px 0px;

}

.sec-3 {
    margin: 0px 240px 240px 240px;

}

.announcement {
    padding: 100px 385px 215px 385px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.10);
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    line-height: 0.5;
}

.btn {
    border-radius: 8px;
    background: #F00;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 16px 32px;
}

.sec-4 {
    display: flex;
    justify-content: space-between;
    margin: 0px 240px 240px 240px;
}

.sec-4 .pic-circle {
    border-radius: 465px;
    border: 15px solid #F00;

}

.offer-sec .offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-sec .soon {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.offer-sec-2 .year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.sales{
    text-align: center;
    margin: 0px 240px 240px 240px;
}

.sales .funciton {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.sales .off {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    line-height: 0.5;
}